# Project settings
PROJECT_PATH="/mnt/c/Projects/ApartmentHunterBot"
GROUPS_FILE_PATH="/mnt/c/Projects/ApartmentHunterBot/groups.txt"
FILTERS_FILE_PATH="/mnt/c/Projects/ApartmentHunterBot/keywords.txt"
MONGO_URI="mongodb://mongo:27017/yourdbname"
REDIS_URL="redis://redis:6379/0"

# Third party services
GOOGLE_APP_PASSWORD=
FACEBOOK_PASSWORD=
FACEBOOK_USERNAME=

# Email settings
EMAIL_BODY="פוסטים לדירות בפייסבוק"
EMAIL_RECEIVERS="daniel1maymon@gmail.com"
EMAIL_SENDER="daniel1maymon@gmail.com"
EMAIL_SUBJECT="פוסטים לדירות בפייסבוק"
