<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="{{ url_for('main.script_scheduling') }}" class="btn btn-green">Script Scheduling</a>
        <a href="{{ url_for('main.settings')}}" class="btn btn-blue">Notification Settings</a>
        <a href="{{ url_for('main.links') }}" class="btn btn-red">View Saved Links</a>
    </div>
</body>
</html>
