<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notification Settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    </head>

    <body>
        <div class="container">
            <h2>User Input Form</h2>
            <form id="user-form">
                <!-- <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username">
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                </div> -->

                <div class="input-group" id="links-group">
                    <label for="link1">List of Links</label>
                    <div class="links-input-field">
                        <input type="text" id="link1" name="links[]" placeholder="Enter a link">
                        <!-- <input type="text" id="link2" name="links[]" placeholder="Enter a link">
                        <input type="text" id="link3" name="links[]" placeholder="Enter a link">
                        <input type="text" id="link3" name="links[]" placeholder="Enter a link">
                        <input type="text" id="link3" name="links[]" placeholder="Enter a link"> -->
                        <button type="button" id="add-link-btn" class="btn add-btn">Add +</button>
                    </div>

                </div>

                <div class="spacer"></div>

            <div class="input-group" id="address-group">
                <label for="email1">List of Links</label>
                <div class="addresses-input-field">
                    <input type="text" id="address1" name="links[]" placeholder="Enter email address">
                    <!-- <input type="text" id="address2" name="links[]" placeholder="Enter email address">
                    <input type="text" id="address3" name="links[]" placeholder="Enter email address">
                    <input type="text" id="address3" name="links[]" placeholder="Enter email address">
                    <input type="text" id="address3" name="links[]" placeholder="Enter email address"> -->
                    <button type="button" id="add-address-btn" class="btn add-btn">Add +</button>
                </div>
            
            </div>

                <div class="spacer"></div>

                <button type="submit" class="btn submit-btn">Save</button>
            </form>
        </div>

        <div class="spacer"></div>
        <div class="button-container" style="text-align: center; ">
            <!-- Return Back Button -->
            <a href="{{ url_for('main.index') }}" class="btn btn-blue">Return Back</a>
        </div>



        <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    </body>

</html>